#bottomdiv{
    display: flex;
    /* border: 2px solid grey; */
    height: 500px;
    gap: 20px;
    width: 90%;
    margin: auto;
    font-family: Montserrat,sans-serif;
    color: #333;
    background-color: #f3f3f3 ;
}
#bottomdiv>div{
    /* border: 1px solid red; */
    width: 20%;
    text-align: center;
    display: block;
}
h4{
    margin-top: 50px;
}

#bottomdiv>div>div{
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
}
hr{
    /* border-top: 2px solid brown; */
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
#yooxnews{
    text-align: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#yooxnews>i{
    margin-top: 30px;
    margin-bottom: 10px;
}
#yooxnewsemail{
    border: 0px;
    background-color: rgb(195, 193, 193);
    padding: 7px;
}

a{
   text-decoration: none;
   font-size: 12px;
}

label,input{
    font-size: 12px;
}
p{
    font-size: 12px;
}
#sbutton{
    padding: 10px;

}
#sbutton>button{
    padding: 10px;
    background-color: black;
    color: white;
    width: 100%;
}
#social{
    width: 90%;
    margin: auto;
    display: flex;
    background-color: #ece5e5 ;
    font-family: 'Montserrat', sans-serif;
    
}
#social>div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black    
} 
.bottom_btn {
    background-color: white;
    padding: 12px 16px;
    font-size: 16px;
}
.bottom_btn:hover {
    background-color: rgb(147, 221, 255);
}
i{
    font-size: 20px;
}
button{
    cursor: pointer;
    border: 0px;
}